body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1976D2; /* Dunkler Blau-Hintergrund */
}

header {
    background-color: #2196F3; /* Blau */
    color: white;
    padding: 15px;
    text-align: center;
    border-bottom: 2px solid #1976D2; /* Dunkleres Blau für den Header-Rand */
}

header h1 {
    margin: 0;
    font-size: 24px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px); /* Höhe anpassen, um Platz für Footer zu schaffen */
    padding: 20px;
}

.button-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* 2 Spalten */
    gap: 20px; /* Abstand zwischen den Boxen */
    width: 600px; /* Gesamtbreite des Containers */
}

button {
    background-color: #02223d; /* Blau */
    color: white;
    border: none;
    padding: 20px; /* Größere Buttons */
    cursor: pointer;
    font-size: 18px; /* Größere Schriftgröße */
    border-radius: 10px; /* Abgerundete Kanten */
    width: 100%; /* Die Buttons füllen die Breite der Box */
    text-align: center;
}

button:hover {
    background-color: #022549; /* Dunkleres Blau */
}

footer {
    background-color: #f5f5f5;
    padding: 10px;
    text-align: center;
    border-top: 2px solid #ddd;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#logoutButton {
    background-color: #f44336; /* Rot für den Abmelde-Button */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px; /* Abgerundete Kanten */
    font-size: 16px;
    width: 150px;
}

#logoutButton:hover {
    background-color: #d32f2f; /* Dunkleres Rot */
}
