body {
    font-family: Arial, sans-serif;
    background-color: #fff3e0;
    /* Gleiche Hintergrundfarbe wie Dashboard */
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Schatten angepasst */
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #FF9800;
    /* Gleiche Farbe wie Header auf Dashboard */
}

input {
    width: calc(100% - 22px);
    padding: 15px;
    /* Größere Polsterung für Konsistenz */
    margin: 10px 0;
    border: 2px solid #212121;
    /* Rahmen wie bei den Buttons */
    border-radius: 8px;
    /* Abgerundete Ecken für Konsistenz */
    font-size: 16px;
    transition: border-color 0.3s ease;
    /* Sanfter Übergang bei Fokus */
}

input:focus {
    border-color: #212121;
    /* Gleiche Farbe wie Header auf Dashboard */
    outline: none;
}

button {
    width: 100%;
    padding: 15px;
    border: 2px solid white;
    /* Rahmen wie bei Buttons */
    border-radius: 8px;
    /* Abgerundete Ecken */
    font-size: 18px;
    cursor: pointer;
    background-color: #424242;
    /* Gleiche Farbe wie auf Dashboard */
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Schatten wie bei Buttons */
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: #212121;
    /* Dunkleres Blau beim Hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    /* Intensiveren Schatten beim Hover */
}

button:active {
    transform: scale(0.98);
    /* Knopf-Animation beim Klicken */
}